body {
  background-image: url("https://images.unsplash.com/photo-1462803966231-b88ec09ff42a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: inherit;
  font-size: 20px;
  /* text-shadow: 2px 2px 2px rgb(125, 194, 156); */
}

.btn {
  text-shadow: none;
  background: rgb(8, 75, 8);
}

.animal-image {
  max-height: 200px;
  max-width: 200px;
}

#map {
  height: 500px;
  width: 500px;
  margin-bottom: 5%;
}

/*media queries*/
@media screen and (max-width: 640px){
.navbar-brand {
  margin-left: 5%;
}

.nav-link {
margin-left: 5%;
}

body {
text-align: center; 
}

form{
  display: inline-block;
}
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 10%;
  }


body {
  text-align: center; 
  }
  
  form{
    display: inline-block;
  }
}
@media screen and (max-width: 980px){

#map {
  height: 500px;
  width: 500px;
  margin-bottom: 5%;
}

.animal-image {
  max-height: 200px;
  max-width: 200px;
}


.popup-image {
  max-height: 75px;
  max-width: 75px;
}
}